* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,body {
  background-color: rgb(52, 52, 177);
}

img {
  max-width: 100%;
}

.container {
  max-width: 860px;
  margin: auto;
  border: #fff solid 3px;
  background: #fff;
}

.main-image {
  background-color: aquamarine;
}

.description {
  background-color: rgb(127, 136, 255);
  overflow-y: scroll;
}

.secondary-images {

}

.main-image img {
  max-width: 100%;
}

.secondary-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.secondary-images div:first-child {
  
}

.secondary-images div:last-child {
  
}

.secondary-images img {
}

.showcase {
  display: grid;
  grid-template-columns: 2fr 1fr;

  margin-bottom: .4em;
}

/* Media Queries */
@media(max-width: 600px) {
  .secondary-images {
    grid-template-columns: repeat(2, 1fr);
  }
}