*,
*::before,
*:;::after {
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(0,0,0);
  color: rgb(255, 255, 255);
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

img {
  max-width: 100%
}

button {
  padding: none;
  border: none;
}

body {
  text-align: center;
  padding: .8em;
}

:root {

}

.icon {
  font-size: 70px;
}

h1 {
  font-size: 2em;
  font-weight: bolder;
  margin: .7em 0;
}

p {
  margin: .4em 0;
}

.header {
  background-color: #8D4EA9;
  padding: 1.2em 0.4em 1.7em;
}

.header-text {
  margin-top: 1.5em;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  margin-top: 0.5em;
}

main article {
  padding: 1.2em 0.4em 1.7em;
}

main address {
  margin-top: 1.5em;
}
.address {
  background-color: #D65140;
}
.phone {
  background-color: #F3A330;
}
.email {
  background-color: #549A3A;
}
.social {
  background-color: #3966B7;
}

.c1 {
  background-color: #6929d6;
}
.c2 {
  background-color: #25c9da;
}
.c3 {
  background-color: #116cee;
}


.city-state {    
  display: inline-block;
  margin: .4em 0;
}
